* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  * {
    text-decoration: none;
  }
  
  html {
    --bg-color: #ecccec;
    --text-color: #1a0d1a;
  }
  
  body.dark {
     --bg-color: #ebd5eb;
     --text-color: #1a0d1a;
  }
  
  body {
    background: var(--bg-color);
    color: var(--text-color);
    font-family: regular 400 italic, Arial;
  }
  
  .conteiner {
    text-align: center;
    width: 300px;
    margin: 60px auto;
  }
  
  img.profille {
    align-items: center;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: palevioletred;
    padding: 4px;
    border: rgb(221, 169, 221) solid 4px;
  }
  
  h1 {
    font-size: 32px;
    margin: 24px;
    margin-bottom: 8px;
  }
  
  p.nome {
    font-family: 'Lucida Sans', monospace, impact;
    font-weight: 400;
    opacity: 50%;
    font-size: 18px;
  }
  
  ul {
    list-style: none;
    margin: 48px 0;
  }
  
  ul li a {
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: palevioletred;
    font-size: 14px;
    margin-bottom: 16px;
    border-radius: 6px;
    transition: background 400ms ;
    }
  
    ul li a:hover {
      background: plum;
    }
  
    footer {
      font-weight: 500;
      font-size: 15px;
      opacity: 0.6;
      transition: opacity 400ms ;
    }
  
   footer:hover {
      opacity: 1;
    }
  
    footer a {
      color: var(--text-color) 
    }
  
   